/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Inter */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
/* Montserrat */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/*  */
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
/*  */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
      
}

html {
  scrollbar-width: thin;
  scrollbar-color: #16183b #f5f5f5;
}

html::-webkit-scrollbar {
  width: 10px;
}

.spinner {
  animation: spin infinite 2s linear;
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

html::-webkit-scrollbar-thumb {
  background-color: #16183b;
  border-radius: 20px;
  border: 3px solid #f5f5f5;
}

body {
  background: #FDFDFD;
  color: #16183b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #16183b;
}

a {
  font-family: "Poppins", sans-serif;
  color: #16183b;
}

@media (min-width: 1200px){
  .css-agywf3 {
      font-size: 1.0417rem;
  }

}
@media (min-width: 900px) {

  .css-agywf3 {
      font-size: 1.0417rem;
  }
}
@media (min-width: 600px){
  .css-agywf3 {
      font-size: 1.0417rem;
  }

}

.css-agywf3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.2;
  color: inherit;
}

.span-text {
  font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.57;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        color: rgb(157, 164, 174);
}

button.classic {
  display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-weight: 600;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(99, 102, 241);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 5px;
    border-radius: 12px;
    text-transform: none;
    padding: 8px 20px;
}

button.classic:hover {
  text-decoration: none;
    background-color: rgb(67, 56, 202);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1
}

button.classic:active {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px
}

hr {
  margin: 8px 0px 4px 0;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgb(242, 244, 247);
}